@model List<Category>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<section class="content">

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                       <table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategory adı</th>
        <th>Sil </th>
        <th>Güncelle</th>
        <td></td>
    </tr>
    @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CategoryId</td>
                                    <td>@item.CategoryName</td>
                                    <td><a href="/" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
</table>
                        <a href="/" class="btn btn-primary">Yeni Kategori Ekle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


